<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-button (click)="VerAcerca()">
              <ion-icon slot="icon-only" name="menu" > ver</ion-icon>
          </ion-button>
              </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/img/a.jpg"></ion-img>
      <ion-card-header>
       
        <ion-card-title>Test Ishihara</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>El test de Ihsihara es el test más utilizado para diagnóstico y clasificación de discromatopsias (alteraciones en la visión de colores, como el daltonismo) aunque además es muy útil para otros procesos como conocer el estado del nervio óptico y sus fibras en patologías como el Graves-Basedow o compresión nerviosa en tumores, etc.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
