<ion-header>
  <ion-toolbar>
    <ion-title>
      Test con Figuras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="assets/img/b.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title> Test de Ishihara con figuras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>En este test te mostraremos una serie de figuras para evaluar tu visión</strong></p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="dark"  (click)="iniciar()">INICIAR</ion-button>
  <br>
  <br>
</ion-content>
